body {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

a:not([href]):not([tabindex]) {
    color: white!important;
}

#myTab {
    margin-top: 5%;
}

.bev-title-id * {
    display: inline;
}

.buttonHolder {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-group-item {
    margin-top: 2%;
}
