body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/home.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-add {
    /* The image used */
    background-image: url("../images/bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lead, .display-4 {
    margin-right: 30%;
}

.nav-tabs {
    background-color: white;
}