body {
    text-align: center;
    height: 100%;
    margin: 0;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

a:not([href]):not([tabindex]) {
    color: white!important;
}

.bg {
    /* The image used */
    background-image: url("../images/bg.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bev-title-id * {
    display: inline;
}

.buttonHolder {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.list-group-item {
    margin-top: 2%;
}

.nav-tabs .nav-link {
    color: #495057;
}

.nav-tabs .nav-link.active {
    color: #007bff!important;
}
