<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <link rel="stylesheet" href="/css/home.css">
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Home • Kafe.in</title>
</head>
<body>
<div class="bg">
<nav th:replace="fragments/fragment :: navbar"></nav>

<!-- Start headline -->
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
    <div class="col-md-5 p-lg-5 ml-auto">
        <p class="font-weight-bold display-4">Your No. 1 Coffee Stop</p>
        <p class="lead font-weight-normal">Don't have time to wait? Order now and pick it up when it's done, no standing in line necessary!</p>
        <br>
        <a class="btn btn-primary" th:href="@{/beverage/add}">Order Now</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
</div>
<!-- End headline -->

<!-- Start video-sec -->
<br>
<br>
<section class="video-sec-area pb-100 pt-40" id="about">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="https://www.youtube.com/watch?v=vFcS080VYQ0"><img class="img-fluid" src="https://imgur.com/RnXUkkn.jpg" alt=""></a>
            </div>
            <div class="col-lg-6 video-left">
                <h6>Live coffee making process</h6>
                <h1>We Telecast our <br>
                    Coffee Making Live</h1>
                <p><span>We are here to deliver excellence</span></p>
                <p>Drink First, Think Later!</p>
            </div>
        </div>
    </div>
</section>
<!-- End video-sec Area -->

<!-- Start menu Area -->
<br>
<br>
<br>
<br>
<section class="menu-area section-gap" id="coffee">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">What kind of drinks we serve</h1><br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Hot/Iced Coffee</h4>
                        <p class="price float-right">
                            Start from Rp20.000,-
                        </p>
                    </div>
                    <p>
                        Customize your own coffee just the way you like!
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>Hot/Iced Tea</h4>
                        <p class="price float-right">
                            Start from Rp15.000,-
                        </p>
                    </div>
                    <p>
                       Can be served with additional topping.
                    </p>
                </div>
            </div>
    </div>
</section>
<!-- End menu Area -->

<!-- Start gallery Area -->
<br>
<br>
<br>
<section class="gallery-area section-gap" id="gallery">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Gallery</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="https://imgur.com/U5vrzUg.jpg" class="img-pop-home">
                    <img class="img-fluid" src="https://imgur.com/U5vrzUg.jpg" alt="" vspace="20">
                </a>
                <a href="https://imgur.com/EeOB2j4.jpg" class="img-pop-home">
                    <img class="img-fluid" src="https://imgur.com/EeOB2j4.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-8">
                <a href="https://imgur.com/3dlLW7p.jpg" class="img-pop-home">
                    <img class="img-fluid" src="https://imgur.com/3dlLW7p.jpg" alt="" vspace="20">
                </a>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="https://imgur.com/bqHzQ9T.jpg" class="img-pop-home">
                            <img class="img-fluid" src="https://imgur.com/bqHzQ9T.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="https://imgur.com/2pl59ha.jpg" class="img-pop-home">
                            <img class="img-fluid" src="https://imgur.com/2pl59ha.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End gallery Area -->

<!-- Start review Area -->
<br>
<br>
<br>
<br>
<section class="review-area section-gap" id="review">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">What do they say?</h1>
                    <p>A little something from our delightful customers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 single-review">
                <img src="img/r1.png" alt="">
                <div class="title d-flex flex-row">
                    <h4>The best coffee I ever had!</h4><br>
                    <div class="star ml-auto">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <p>
                    My friend recommended Kafe.in to me, and boy am I never going back. The texture is just everything. Now, Kafe.in is my main go-to for a quick pick me up.
                    <br>- Katie Holmes
                </p>
            </div>
            <div class="col-lg-6 col-md-6 single-review">
                <img src="img/r2.png" alt="">
                <div class="title d-flex flex-row">
                    <h4>Highly recommend</h4>
                    <div class="star ml-auto">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <p>
                    If you're a coffee/tea lover like me, say no more. Kafe.in's menus are all a must try. My favourite is hot coffee, just perfect.
                    <br><br>- James Smith
                </p>
            </div>
        </div>
<!--        <div class="row counter-row">-->
<!--            <div class="col-lg-6 col-md-6 single-counter">-->
<!--                <h1 class="counter">2536</h1>-->
<!--                <p>Happy Client</p>-->
<!--            </div>-->
<!--            <div class="col-lg-6 col-md-6 single-counter">-->
<!--                <h1 class="counter">7562</h1>-->
<!--                <p>Total Projects</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 single-counter">-->
<!--                <h1 class="counter">2013</h1>-->
<!--                <p>Cups Coffee</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6 single-counter">-->
<!--                <h1 class="counter">10536</h1>-->
<!--                <p>Total Submitted</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
<!-- End review Area -->


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>
