<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/transaction.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <title>Transactions</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="cart-tab" data-toggle="tab" href="#cart" role="tab" aria-controls="cart" aria-selected="true">Cart</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="checkout-tab" data-toggle="tab" href="#checkout" role="tab" aria-controls="checkout" aria-selected="false">Checked Out</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ready-tab" data-toggle="tab" href="#ready" role="tab" aria-controls="ready" aria-selected="false">Ready for Pickup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="done-tab" data-toggle="tab" href="#done" role="tab" aria-controls="done" aria-selected="false">Done</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="cart" role="tabpanel" aria-labelledby="cart-tab">
    <div class="list-group">
      <div th:each="transaction : ${transactions}" th:if="${transaction.transactionState.name() == 'CART'}" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div class="bev-title-id">
            <h5 th:text="${transaction.beverageName}" class="mb-1"></h5>
            <small th:text="'ID #' + ${transaction.id}" class="text-muted"></small>
          </div>
          <small th:text="'Store: ' + ${transaction.storeEmail}" class="text-muted"></small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <p th:text="'Specification: ' + ${transaction.beverageSpecification}" class="mb-1"></p>
            <small th:text="'Rp' + ${transaction.beveragePrice}" class="text-muted"></small>
          </div>
          <div class="d-flex">
            <div>
              <a class="btn btn-primary" th:href="@{/update/{id}(id=${transaction.id})}">Checkout</a>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${transaction.id})}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="checkout" role="tabpanel" aria-labelledby="checkout-tab">
    <div class="list-group">
      <div th:each="transaction : ${transactions}" th:if="${transaction.transactionState.name() == 'CHECKED_OUT'}" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div class="bev-title-id">
            <h5 th:text="${transaction.beverageName}" class="mb-1"></h5>
            <small th:text="'ID #' + ${transaction.id}" class="text-muted"></small>
          </div>
          <small th:text="'Store: ' + ${transaction.storeEmail}" class="text-muted"></small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <p th:text="'Specification: ' + ${transaction.beverageSpecification}" class="mb-1"></p>
            <small th:text="'Rp' + ${transaction.beveragePrice}" class="text-muted"></small>
          </div>
          <div class="d-flex">
            <div>
              <a class="btn btn-primary" th:href="@{/update/{id}(id=${transaction.id})}">Ready for Pickup</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="ready" role="tabpanel" aria-labelledby="ready-tab">
    <div class="list-group">
      <div th:each="transaction : ${transactions}" th:if="${transaction.transactionState.name() == 'READY'}" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div class="bev-title-id">
            <h5 th:text="${transaction.beverageName}" class="mb-1"></h5>
            <small th:text="'ID #' + ${transaction.id}" class="text-muted"></small>
          </div>
          <small th:text="'Store: ' + ${transaction.storeEmail}" class="text-muted"></small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <p th:text="'Specification: ' + ${transaction.beverageSpecification}" class="mb-1"></p>
            <small th:text="'Rp' + ${transaction.beveragePrice}" class="text-muted"></small>
          </div>
          <div class="d-flex">
            <div>
              <a class="btn btn-primary" th:href="@{/update/{id}(id=${transaction.id})}">Picked up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="done" role="tabpanel" aria-labelledby="done-tab">
    <div class="list-group">
      <div th:each="transaction : ${transactions}" th:if="${transaction.transactionState.name() == 'DONE'}" class="list-group-item flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div class="bev-title-id">
            <h5 th:text="${transaction.beverageName}" class="mb-1"></h5>
            <small th:text="'ID #' + ${transaction.id}" class="text-muted"></small>
          </div>
          <small th:text="'Store: ' + ${transaction.storeEmail}" class="text-muted"></small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <p th:text="'Specification: ' + ${transaction.beverageSpecification}" class="mb-1"></p>
            <small th:text="'Rp' + ${transaction.beveragePrice}" class="text-muted"></small>
          </div>
          <div class="d-flex">
            <div>
              <a class="btn btn-danger" th:href="@{/delete/{id}(id=${transaction.id})}"><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
